(function(){
    $('.modal').remove()
    $modal = $("<div class='modal hide'><%=render("image_crop").squish.html_safe -%></div>").dialog({
        width: 'auto'
    });
    $('#image_crop').Jcrop({
        keySupport: false,
        aspectRatio: 1,
        minSize: [300,300],
        onChange: function(c){
            dimensions = c;
            $('#save_image').removeAttr('disabled')
        }
    })

    $('#save_image').click(function(){
        if(dimensions){
            dimensions.authenticity_token = "<%=form_authenticity_token%>"
            $.ajax({
                type: 'PUT',
                url : '<%=request.path%>',
                data: dimensions,
                success: function (res){
                    var src = res.src+Math.random(); //cache bust
                    $('#photos li[data-id=<%=@img.id%>] img').attr('src',src)
                    $('.modal').remove()
                },
                dataType: 'json'
            })
        }
        return false
    })
    $('#delete_image').click(function(){
        $('#photos li[data-id=<%=@img.id%>]').remove()
        $modal.dialog('close')
        return false
    })
}())