= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.12/chosen.jquery.min.js"
= stylesheet_link_tag "//cdn.jsdelivr.net/chosen/0.9.11/chosen.css"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.0/jquery.validate.min.js"
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"
= stylesheet_link_tag "http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css"

#sub_navigation= render_navigation
HOLA!!!

= simple_form_for [:admin, @product] do |f|
  = f.input :quantity
  = f.input :model
  = f.input :brand
  = f.input :material
  = f.input :style
  = f.input :color
  = f.input :case
  = f.input :msrp
  %label
    Vendor
  = f.collection_select "vendor_id", Vendor.all, :id, :name, :label => "Name", :input_html => {'data-placeholder' => 'eretrefw'}
  = f.input :description
  = f.button :submit

%table{:id=>'product_instances'}
  - @product_instances.each do |product_instance|
    %tr
      %td
        = product_instance.id

%button{:id=>"add-watch"} Add Watch

%div{:class=>"modal hide fade"}
  = render("vendor").squish.html_safe

%h3 Add Product Photos

%button{:id=>"add-image"} Add Photo


= simple_form_for [:admin, @product_image], :html => {:target => "upload_iframe"}  do |f|
  = f.file_field :image
  = f.input :product_id, :as => :hidden, :input_html => { :value => @product.id }
  = f.button :submit, :input_html => { :value => "Upload Image" }

%iframe{:id=>"upload_iframe", :src=>"/admin/product_images", :width=>"200", :height=>"200", :style => 'display:none'}

%h3
  Photos
  %ul{:id=>'photos'}
    - @product.product_images.each do |image|
      %li{'data-id' => image.id}
        %img{:src=>image.url("square")}
